.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 5rem 0 5rem;
  min-height: 400px;
}

.background {
  background-image: url('../images/forest-creature.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 2rem;
}

.loader {
  color: white;
  padding: 1rem;
  background:rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  max-height: 75px;
}
