.search {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#search-button {
    margin-left: 1rem;
}

#search-input {
    border-radius: 5%;
    margin-left: 1rem;
}

.label {
    color: white;
}

@media screen and (max-width: 830px) {
    #search-button {
      margin-top: 0.5rem;
    }
}

.last-search {
    font-style: italic;
    color: white;
    margin-top: 1rem;
}

#search-collapse {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 9rem;
    padding-right: 9rem;
}
