.sort {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#sort-select {
    margin-left: 1rem;
}

.label {
    color: white;
}

#sort-collapse {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 9rem;
    padding-right: 9rem;
}
