.sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#sort-select {
    margin-left: 1rem;
}

.label {
    color: white;
}
